body{
    margin: 0 auto;
    padding: 0;
    box-sizing: border-box;
}
.holy_layout{
    width: 100%;
    min-height: 13vh;
    float: left;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgb(25, 6, 170);
    margin-bottom: 21px;
}
.center{
    width: 100%;
    min-height: 68.5vh;
    /* background-color: aqua; */
    float: left;
    display: flex;
    justify-content: space-between;
    margin-bottom: 21px;
}

.footer{
    width: 100%;
    min-height: 13vh;
    float: left;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgb(25, 6, 170);
}

.nav{
    width: 22%;
    min-height: inherit;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgb(15, 142, 210);
    float: left;
}

.main{
    width: 52%;
    min-height: inherit;    
    display: flex;
    justify-content: center;
    align-items: center;
    float: left;
    background-color: rgb(113, 113, 117);
    margin: 0 8px;
}

.sidebar{
    width: 22%;
    min-height: inherit;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgb(15, 142, 210);
    float: left;
}

.text{
    font-size: 32px;
    box-sizing: border-box;
    color: rgb(239, 231, 231);
}

/* Small devices (portrait tablets and large phones, 600px and up) */

@media only screen and (min-width: 600px) {
    .holy_layout{
        width: 100%;
    }
    .nav{
        width: 31%;
    }
    .main{
        width: 31%;
    }
    .sidebar{
        width: 31%;
    }
    .footer{
        width: 100%;
    }

}

/* Extra small devices (phones, 600px and down) */
@media only screen and (max-width: 600px) {
    .center{
        display: flex;
        flex-direction: column;
        /* justify-content: space-between; */
    }

    .nav{
        width: 100%;
        min-height: 30vh;
        float: left;
    }

    .main{
        width: 100%;
        min-height: 30vh;
        float: left;
        margin: 15px 0;
    }

    .sidebar{
        width: 100%;
        min-height: 30vh;
        float: left;
    }
} 